@font-face {
  font-family: ps;
  src: url("fonts/ps/ps.ttf") format("truetype");
}
@font-face {
  font-family: rock-salt;
  src: url("fonts/rock-salt/rock-salt.ttf") format("truetype");
}

@font-face {
  font-family: thiamine;
  src: url("fonts/thiamine/thiamine.otf") format("opentype");
}

@font-face {
  font-family: freepixel;
  src: url("fonts/free-pixel/freepixel.ttf") format("opentype");
}


body{
  overflow: hidden;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-6/cur544.cur), auto !important;
}


.video-container {
  height: 100vw;
  width: 100vh;
  position: relative;
}

.video-container video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

h1{
  font-family: thiamine;
  font-size: 9.5vw;
  letter-spacing: 8px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
}


button{
  background-color: gray;
  color: white;
  width: 100%;
  display: none;
}

h2{
  font-family: freepixel;
  text-shadow: 1px 1px 2px black;
  font-size: 2.1vw;
  letter-spacing: 0px;
  font-weight: 100;
  color: white;
  margin: 0;
  margin-top: 2.5vw;
}


h3{
  font-family: freepixel;
  font-size: 2.5vw;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  letter-spacing: -2.9px;
  margin-bottom: 0.5vw;
}

img{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  filter: contrast(1.2);
}

input::placeholder{
  color: white;
}

input{
  padding: 9px;
  width: 85%;
  height: 3vh;
  background-color: transparent;
  font-family: freepixel;
  font-size: 2.5vw;
  font-weight: 100;
  box-shadow: none;
  outline: none;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  letter-spacing: -1.9px;
  outline: none;
  border: none;
}

.outer_container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.mailchimp_input *{
  font-family: freepixel;
  color: white;
}

label{
  display: none;
}

#layer{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0.8;
  display: none;
}


.refresh{
  position: absolute;
  bottom: 0;
  width: 40px;
  right: 0;
  top: auto;
  filter: drop-shadow(2px 4px 6px black) opacity(2);
  padding: 39px;
}

form{
  box-shadow: 1px 1px 2px black;
  z-index: 1000;
  position: relative;
  width: 38vw;
  border: 1px solid white;
  display: flex;
  align-items: center;
}

form div{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
}

.inner_container{
  position: fixed;
  top: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#subscription_message{
  text-align: center;
}

.img_section{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}


@media only screen and (max-width: 600px) {

  h1{
    letter-spacing: 5px;
    font-size: 30vw;
  }


  h2, h3{
    letter-spacing: 0;
    font-size: 8vw;
  }

  .inner_container{
    position: fixed;
    top: 0;
    text-align: center;
    left: 23vw
  }


  button{
    display: block;
    background-color: white;
    color: black !important;
    margin-top: 10vw;
  }

  input::placeholder,
  button,
  input{
    font-size: 5vw;
    letter-spacing: 2px;
    color: white;
  }

  .refresh{
    z-index: 100;
  }
};


.load-more {
	position: absolute;
	display: block;
	cursor: pointer;
  width: 40px; height: 40px;
  top: 50%; left: 50%;
  margin: -20px 0 0 -20px;
}
	.load-more:before,
	.load-more:after {
		position: absolute;
		display: block;
		content: '';
    width: 17px;
    height: 17px;
    left: 50%;
    top: 50%;
    margin-top: -1px;
		border-width: 2px;
		border-style: solid;
		border-color: transparent;
		border-bottom-color: #fff;
		border-right-color: #fff;
		border-radius: 0 0 5px 0;
		transform: translate(-50%, -50%) rotate(315deg);
		transition: all .4s ease-in-out;
	}

	.load-more.active:before {
		border-radius: 50%;
		animation:
			.8s rotate .4s linear forwards infinite;
	}
	.load-more.active:after {
		width: 30px; height: 30px;
		border-radius: 50%;
		animation:
			.8s rotate2 .4s linear forwards infinite;
	}


		@keyframes rotate {
			to {
				transform: translate(-50%, -50%) rotate(405deg);
			}
		}
		@keyframes rotate2 {
			to {
				transform: translate(-50%, -50%) rotate(-315deg);
			}
		}


	.load-more.disabled:before,
	.load-more.disabled:after {
    margin-top: 0;
		transform: translate(-50%, -50%) rotate(135deg) rotateY(180deg);
	}



@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 


  };  

