@font-face {
  font-family: ps;
  src: url("fonts/ps/ps.ttf") format("truetype");
}
@font-face {
  font-family: rock-salt;
  src: url("fonts/rock-salt/rock-salt.ttf") format("truetype");
}

body{
  overflow: hidden;
}

img{
  position: absolute;
  top: 0;
  z-index: -1;
}


.coming_soon{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.first{
  position: fixed;
  top: 0
}

.second{
  position: fixed;
  bottom: 0
}
