@font-face {
  font-family: ps;
  src: url("fonts/ps/ps.ttf") format("truetype");
}
@font-face {
  font-family: rock-salt;
  src: url("fonts/rock-salt/rock-salt.ttf") format("truetype");
}

@font-face {
  font-family: thiamine;
  src: url("fonts/thiamine/thiamine.otf") format("opentype");
}

@font-face {
  font-family: freepixel;
  src: url("fonts/free-pixel/freepixel.ttf") format("opentype");
}

body{
  overflow: hidden;
}

h1{
  font-family: thiamine;
  font-size: 12.5vw;
  letter-spacing: 8px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  transition: 0.5s;
}

h1:hover{
  color: #fa3ffa;
  transform: rotate(2deg) scale(1.2);
  transition: 0.5s;
}

h2{
  font-family: freepixel;
  font-size: 3.1vw;
  letter-spacing: 0px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  margin-top: 2.5vw;
}

h3{
  font-family: freepixel;
  font-size: 3vw;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  letter-spacing: -1.9px;
  margin-bottom: 3vw;
}

img{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  filter: contrast(1.2);
}

input::placeholder{
  color: white;
}

input{
  padding: 9px;
  width: 38vw;
  height: 5vh;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 1px 1px 2px black;
  font-family: freepixel;
  font-size: 2.5vw;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  letter-spacing: -1.9px;
  outline: none;
}

#layer{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0.8;
  display: none;
}


.coming_soon{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.refresh{
  position: absolute;
  bottom: 0;
  width: 40px;
  right: 0;
  top: auto;
  filter: drop-shadow(2px 4px 6px black) opacity(2);
  padding: 1vw;
}

.first{
  position: fixed;
  top: 0;
}

.second{
  position: fixed;
  bottom: 18vh;
}
