@font-face {
  font-family: ps;
  src: url("fonts/ps/ps.ttf") format("truetype");
}
@font-face {
  font-family: rock-salt;
  src: url("fonts/rock-salt/rock-salt.ttf") format("truetype");
}

@font-face {
  font-family: thiamine;
  src: url("fonts/thiamine/thiamine.otf") format("opentype");
}

@font-face {
  font-family: freepixel;
  src: url("fonts/free-pixel/freepixel.ttf") format("opentype");
}

body{
  overflow: hidden;
  cursor: url(https://cur.cursors-4u.net/cursors/cur-11/cur1054.cur), auto !important;
}

h1{
  font-family: thiamine;
  font-size: 12.5vw;
  letter-spacing: 8px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  transition: 0.5s;
}

h1:hover{
  color: #fa3ffa;
  transform: rotate(2deg) scale(1.1);
  transition: 0.5s;
}

button{
  display: none;
}

h2{
  font-family: freepixel;
  font-size: 3.1vw;
  letter-spacing: 0px;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  margin-top: 2.5vw;
  transition: 0.5s;
}

h2:hover{
  transform: rotate(2deg) scale(1.1);
}

h3{
  font-family: freepixel;
  font-size: 3vw;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  letter-spacing: -1.9px;
  margin-bottom: 3vw;
}

img{
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100vw;
  filter: contrast(1.2);
}

input::placeholder{
  color: white;
}

input{
  padding: 9px;
  width: 38vw;
  height: 5vh;
  background-color: transparent;
  border: 1px solid white;
  box-shadow: 1px 1px 2px black;
  font-family: freepixel;
  font-size: 2.5vw;
  font-weight: 100;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  letter-spacing: -1.9px;
  outline: none;
}

#layer{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  opacity: 0.8;
  display: none;
}


.refresh{
  position: absolute;
  bottom: 0;
  width: 40px;
  right: 0;
  top: auto;
  filter: drop-shadow(2px 4px 6px black) opacity(2);
  padding: 1vw;
}

.first{
  position: fixed;
  top: 0;
  text-align: center;
  left: 40vw
}

.second{
  text-align: center;
  position: fixed;
  bottom: 18vh;
  left: 30vw;
}

.img_section{
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  z-index: -1;
}


@media only screen and (max-width: 600px) {

  h1{
    letter-spacing: 0;
    font-size: 30vw;
  }

  h2{
    letter-spacing: 0;
    font-size: 10vw;
  }

  .first{
    position: fixed;
    top: 0;
    text-align: center;
    left: 20vw
  }

  .second{
    left: 5vw;
  }

  input{
    width: 85vw;
  }

  h3{
    font-size: 10vw;
  }

  input::placeholder,
  input{
    font-size: 5vw;
    letter-spacing: 2px;
  }

  .refresh{
    margin: 10px;
  }

};
